# Node / Next.js
node_modules/
.next/
out/
.turbo/
dist/
.contentlayer/

# Env
.env*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / Editor
.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
.vscode/

# Coverage
coverage/

# Misc
*.local
tsconfig.tsbuildinfo
nav-menu
index.html
assets
.vercel